body {
    background-color: white;
}

.navbar {
    background-color: white;
}

.navbar-brand {
    width: 150px;
    height: 80px;
}

.navbar ul li .nav-link {
    color: black;
}

.form-control {
    width: 200px;
    margin: auto;
}

.carousel-item {
    height: 400px;
}

.carousel-inner img {
    width: 100%;
}

.container-fluid .d-flex div {
    padding: 20px;
}

.container-fluid .d-flex div img {
    width: 200px;
    height: 200px;
}

.container-fluid .d-flex div p {
    text-align: center;
}

.container-fluid .d-flex div button {
    margin: 0 auto;
    display: block;
}

.bag {
    color: cadetblue;
    font-size: 40px;
    top: 15px;
    right: 15px;
}

.bag:hover {
    color: rgb(112, 188, 231);
}

section.cart {
    /* position: fixed; */
    bottom: 12px;
    right: 12px;
    width: 500px;
    height: 200px;
    /* background-color: white; */
    overflow-y: auto;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
    padding: 12px;
    border-radius: 8px;
}

section.cart ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section.cart ul>li {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

section.cart #qty {
    width: 40px;
}